*{
    margin: 0px;
    padding: 0px;
}

.header1{
    background-color: #011839;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    display: block;
    height: 2rem;
}
.p1{
    padding: 0.6rem;
}
.header2{
    background-color: #f1a81c;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 6rem;
}
/* .header2 scrolling{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
} */
    .h1{
        letter-spacing: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 60px;
    font-size: xx-large;
    text-shadow: 2px -2px 0px white;
    font-family: sans-serif;
    }
    .contents{
        display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
     } 
     .c1{
        margin: 0px 20px;
    word-spacing: -1px;
     } 
     .c2{
        margin-right: 21px;
        word-spacing: -3px;
     }
     .c3{
        margin: 0px 21px;
        word-spacing: 3px;
     }
     .c4{
        margin-right: 21px;
        word-spacing: 0.2px;
     }
     .c5{
        margin: 0px 21px;
     }
 .btn1{
    cursor: pointer;
    height: 37px;
    margin-top: 19px;
    margin-left: 22px;
    padding: 9px 10px;
    background-color: #011839;
    color: white;
    box-shadow: 4px 4px 12px 0px white;
}
.btn1:hover{
    color: black; 
    background-color:#f1a81c ;
 }
 .container1 ::before {
     content: "";
     position: absolute;
     background: url("https://cdn.vox-cdn.com/thumbor/dKSbHHx8VAHX0bRxuFjXzK5NRF8=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/10641753/Bresca_DC_walls.jpeg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     filter: brightness(80%);
     top: 0px;
     height: 90%;
     left: 0px;
     width: 100%;
     z-index: -1;
     opacity: 0.6;
 }
 .container1{
    /* border: 2px solid black; */
    margin: 9% 15%;
    text-align: center;
    color: white;
    padding: 3% 2%;
 }
 .h2{
    font-size: 3rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3rem;
    text-shadow: 5px 4px 2px black;
    padding: 24px 0px;
    word-spacing: 1rem;
 }
 .p2{
    font-size: 1.2rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
 }
 .btn2{
    margin: 12px 20px;
    padding: 5px 18px;
    font-size: 1.1rem;
    font-weight: bold;
    background: #011839;
    box-shadow: 2px 2px 6px 0px white;
    color: white;
    cursor: pointer;
 }
 .btn2:hover{
    color: black; 
    background-color:#f1a81c ;
 }
 .container2 {
  background-color:#011839 ; 
  
 }
 .form1{
  height: auto;
  background-color: white;
  width: 83%;
  margin-left: 118px;
  text-align: center;
  padding: 2% 2%;
}
.case1{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
    text-align: center;
}
 .h3{
    font-weight: 200;
    letter-spacing: 0.1rem;
    word-spacing: 0.6rem;
    margin-top: 2%;
    margin-bottom: 4%;
 }
 .d3{
     margin: 2rem 0rem;
    }
 .d6{
     margin-top: 2rem;
     }
.d8{
    padding: 2% 22%;
    font-size: 1.38rem;
    margin-top: 3%;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    line-height: 2rem;
}
.case2{  
    display: flex;
    flex-direction: column;
}
.latest{
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 1.8rem;
    word-spacing: 0.9rem;
    letter-spacing: 0.2rem;
}
.image1{
     height: 570px;
    width: 93%;
}
.box{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}
.item{
    
    width: 33%;
    padding: 2% 2%;
}
.t1{
    padding: 5% 2%;
}
.hd{
    margin: 4%;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    margin-bottom: -3%;
}
.img{
    height: 300px;
    width: 330px;
}
.tag{
    list-style: none;
    text-decoration: none;
    color: black;
}
.case3{
    padding-top: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
   }
   .box1{
    width: 630px;
    height: 400px;
   }
   .box2{
    width: 630px;
    height: 400px;
}
.boxhead{
    padding-top: 14% ;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4% 11%;
    letter-spacing: 0.1rem;
    word-spacing: 0.01rem;
    text-align: center;
}
.foot1{
    background-color:#f1a81c ;
    width: 100%;
    width: 100%;
    height: 80px;
    margin-top: 5%;
}
.foot2{
    display: flex;
    flex-direction: row;
}
.start{
    margin: 1% ;
    width: 173px;
    align-items: center;
}
.end{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    align-items: center;
    width: 30%;
    margin-left: auto;
    
}
.icon img{
    height: 35px;
    width: 35px;
    margin-right: 9%;
    border: 2px solid white;
    border-radius: 34%;
}
.list{
    font-size: 1.06rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5%;
}
.foot3{
    height: 12px;
    margin: 1% 16%;
    padding: 0% 27%;
}





     
 
 
 

 

